@font-face{
    font-family: 'Futura';
    src: url();
}

*{
    font-family: 'Futura';
    font-weight: bold;
    color: white;
}

body{
    background-image: url("Assets/Background.png");
}

h1{
    text-align: center;
	font-size: 72pt;
    margin-top: 300px;
    margin-bottom: 150px;
}

h2,h3{
    margin-left: 300px;
    text-align: center;
    display: inline-block
}

h2{
    font-size: 48pt;
}

#teamLabel{
    margin-left: 100px;
    width: 500px;
    text-align: center;
    font-size: 48pt;
}

h3{
    font-size: 28pt;
}

p{
    font-size: 32pt;
    text-align: center;
}

.data{
    margin-bottom: 5%;
}

.number{
    margin-left: 200px;
    display: inline-block;
    width: 119px;
    font-size: 35pt;
}

.teamName{
    margin-left: 100px;
    text-align: center;
    display: inline;
    width: 500px;
    color: green;
}

.teamScore{
    margin-left: 100px;
    width: 130px;
    display: inline;
    text-align: center;
}

.teamStreak{
    width: 89px;
    display: inline;
    text-align: center;
    font-size: 35pt;
}

form{
    text-align: center;
    margin-left: auto;
    display: inline-block;
    font-size: 40px;
}